/*Início do Main------*/
/*Inicio do Header da Tabela*/
.header-tabela{
    @include orinetacao-padrao;
    padding-top: 31px;
    margin: 0 10px;
}
.filtro{
    @extend %semfunor;
    outline: none;
    font-size: 12px;
    font-weight: normal;
    border-radius: 4px;
    width: 300px;
    padding: 6px;
    border: 1px solid grey;
}
/*Fim do Header da Tabela*/
/*-------------------------------------------------*/
/*Início do Corpo da tabela*/
.users{
    padding-left: 10px;
}
.tabela1{
    /*Esta é a div da tabela*/
    align-items: center;
    width:100%;
    height: 250px;
    overflow-y: scroll;
    margin: 0 20px 0 -1px;
    padding: 0 0 0 12px;
}
th{
    position: sticky;
    top: 0;
    background-color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 12px;
}
th, td {
    padding: 8px;
}
/*Aqui é para dar uma escurecida nas linhas ímpares da tabela*/
tr:nth-child(even){
    background-color: $cor-aux3;
}
/*Aqui é para a linha da tabela escurecer quando o mouse passa por cima*/
tr:hover {
    background-color: $cor-auxiliar;
}
.info-email, .info-city, .info-posts, .info-album{
    color: $cor-padrao;
}
/*Fazendo o Scroll da tabela com a thead fixa*/


/*Fim do Corpo da Tabela*/
/*-------------------------------------------------*/
/*Início do Registration Form*/
.fa-life-ring, .fa-heartbeat, .fa-smile{
    color:$cor-padrao;
    font-size: 40px;
}
h4{
    color: $cor-padrao;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 0 0;

}
.opt{
    float: right;
    color: $cor-auxiliar;
}
.information-div{
    @include orinetacao-padrao;
    padding-left: 22px;
}
.caixa2{
    @include orinetacao-padrao;
    padding-right: 30px;
}
.parag{
    padding-left: 15px;
}
hr {
    border-width: 0 0 1px 0;
    color:$cor-aux2;
    margin: 20px 150px 40px 150px;
}
.regist{
    padding: 40px 0 0 22px;
}
.regis{
    @include orinetacao-padrao(space-around);
    vertical-align: middle;
    margin: 0 120px 0 120px;
}
.warn{
    margin-bottom: 14;
    margin-top: 0;
}
form{
    width: 84%;
}
#username, #name, #email, #city {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px;
    @extend %semfunor;
}
#username:focus, #name:focus, #email:focus, #city:focus {
    border: 1px solid $cor-padrao;
}
#ladoesq, #ladodir{
    width: 400px;
    display: inline-block;
}
#ladoesq{
    float: left;
}
#ladodir{
    float: right;
}
.p1, .p2, .p3, .p4{
    margin-top: 4px;
    font-size: 9px;
}

.bolin{
    margin-left: 0;
    margin-right: 15px;
}
.ride{
    position: relative;
    margin-bottom: 0;
    font-weight: bold;
}

/*Customização do radiobox-------------*/
.choice{
    display: inline-block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 10px;
    @include cursor;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Esconde o botão radio padrão do navegador */
.choice input {
  opacity: 0;
  @include cursor;
}
/* Criando um radiobox customizado*/
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid $cor-auxiliar;
}
/* On mouse-over, add a lightgreen border color  */
.choice:hover input ~ .checkmark {
  border-color: $cor-padrao;
}
/* When the radio button is checked, add a lightgreen border */
.choice input:checked ~ .checkmark {
  border-color: $cor-padrao;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.choice input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.choice .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: black;
}
/*------------------------------*/
.gp2{
    padding-bottom: 14px;
}
.days{
    margin: 0;
    font-weight: bold;
    padding-bottom: 5px;
}
/*Customização do checkbox--------------*/
.choice2 {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    padding-right: 3px;
    padding-top: 7px;
    margin-bottom: 5px;
    @include cursor;
    font-size: 12px;
    user-select: none;
}

/* Hide the browser's default checkbox */
.choice2 input {
  position: absolute;
  opacity: 0;
  @include cursor;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: 1px solid $cor-auxiliar;
}

/* On mouse-over, add a lightgreen border */
.choice2:hover input ~ .checkmark2 {
  border-color: $cor-padrao;
}

/* When the checkbox is checked, add a lightgreen border */
.choice2 input:checked ~ .checkmark2 {
  border-color: $cor-padrao;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
  content: "";
  position: relative;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
}

/* Show the checkmark when checked */
.choice2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.choice2 .checkmark2:after {
  left: 9px;
  top: 5px;
  width: 4px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/*Fim do Registration Form*/
/*-------------------------------------------------*/
/*Estilizando os botões*/
.buttonsform{
    margin: 197px 170px 0 -406px;
    padding-bottom: 100px;
    float: left;
}
#save, #discard{
    @extend %semfunor;
    background-color: $cor-auxiliar;
    color: #6b696a;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin: 5px;

}
#save:hover, #discard:hover{
    background-color: $cor-padrao;
    color: #fff;
}
/*Lixeira*/
.trash{
    padding: 15px;
}
/*Colocando cores no texto de erros*/
#mensagens-erro{
    color: red;
}

/*Avisos embaixo dos inputs do form*/
.p1, .p2, .p3, .p4{
    opacity: 0;
}
.username:focus-within .p1, .name:focus-within .p2, .email:focus-within .p3, .city:focus-within .p4{
    opacity: 1;
}
/*Esconder ícone de trash e fazer ele aparecer com hover*/
.fa-trash-alt{
    opacity: 0;
    font-size: 15px;
}

tr:hover .fa-trash-alt{
    opacity: 1;
    font-size: 15px;
    @include cursor
}

/*Classe para ajudar na remoção de linhas da tabela --- linha 493 do JavaScript*/
.fadeOut{
    opacity: 0;
    transition: 0.5s;
}
